In [1]:
import pandas as pd
from pathlib import Path

file=Path("Resources/schools_complete.csv")
file1=Path("Resources/students_complete.csv")

schools_df=pd.read_csv(file)

students_df=pd.read_csv(file1)

In [2]:
list_schools_district=schools_df["school_name"].unique()


total_schools_district=len(list_schools_district)

total_students_district=schools_df["size"].sum()

total_budget_district=schools_df["budget"].sum()

district_math_avg=students_df["math_score"].mean()

district_reading_avg=students_df["reading_score"].mean()

num_pass_math_district=students_df[(students_df["math_score"]>=70)].count()["student_name"]
percent_pass_math_district=((num_pass_math_district)/(total_students_district))*100

num_pass_reading_district=students_df[(students_df["reading_score"]>=70)].count()["student_name"]
percent_pass_reading_district=((num_pass_reading_district)/(total_students_district))*100

overall_num_pass_math_reading=students_df[(students_df["math_score"]>=70)&(students_df["reading_score"]>=70)].count()["student_name"]
overall_percent_pass_math_reading=(overall_num_pass_math_reading/total_students_district)*100


district_summary = pd.DataFrame({
    "Total Schools":[total_schools_district],"Total Students":[total_students_district],"Total Budget": [total_budget_district],"Average Math Score":[round(district_math_avg,2)],"Average Reading Score": [round(district_reading_avg,2)],"% Passing Math": [round(percent_pass_math_district,2)],"% Passing Reading": [round(percent_pass_reading_district,2)], "% Overall Passing":[round(overall_percent_pass_math_reading,2)]})

district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

In [3]:
school_district_database=pd.merge(students_df,schools_df,on="school_name",how="right")
students_per_school = school_district_database["school_name"].value_counts()

per_school_grouping=school_district_database.groupby(["school_name"])

school_names=per_school_grouping["school_name"].unique()

school_types=schools_df.set_index('school_name')['type']


per_school_budget=schools_df.set_index('school_name')["budget"]
per_school_capita=(per_school_budget/students_per_school)

school_avg_math=per_school_grouping["math_score"].mean()
school_avg_reading=per_school_grouping["reading_score"].mean()

students_passing_math=school_district_database[(school_district_database["math_score"]>=70)].groupby("school_name")['Student ID'].count()
students_passing_reading=school_district_database[(school_district_database["reading_score"]>=70)].groupby("school_name")['Student ID'].count()
students_passing_math_reading=school_district_database[(school_district_database["math_score"]>=70)&(school_district_database["reading_score"]>=70)].groupby("school_name")['Student ID'].count()

per_school_passing_math= (students_passing_math/(students_per_school)*100)
per_school_passing_reading= (students_passing_reading/(students_per_school)*100)
per_school_overall_passing= (students_passing_math_reading/(students_per_school)*100)

per_school_summary=pd.DataFrame({
    "type":school_types,
    "size":students_per_school,
    "budget":per_school_budget,
    "Per Student Budget":per_school_capita,
    "Average Math Score":round(school_avg_math,2),
    "Average Reading Score":round(school_avg_reading,2),
    "% Passing Math":round(per_school_passing_math,2),
    "% Passing Reading":round(per_school_passing_reading,2),
    "% Overall Passing":round(per_school_overall_passing,2)
                                })


per_school_summary=per_school_summary.rename(columns={"type":"School Type","size":"Total Students","budget":"Total School Budget"})

per_school_summary['Total School Budget'] = per_school_summary['Total School Budget'].map('${:,.2f}'.format)
per_school_summary['Per Student Budget'] = per_school_summary['Per Student Budget'].map('${:,.2f}'.format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.96,93.33,96.61,90.33

In [4]:

top_schools=per_school_summary.sort_values("% Overall Passing",ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54

In [5]:
bottom_schools=per_school_summary.sort_values("% Overall Passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54

In [6]:
ninth_graders = school_district_database[(school_district_database["grade"] == "9th")]
tenth__graders = school_district_database[(school_district_database["grade"] == "10th")]
eleventh_graders = school_district_database[(school_district_database["grade"] == "11th")]
twelfth_graders = school_district_database[(school_district_database["grade"] == "12th")]

ninth_grade_math_scores=school_district_database.loc[school_district_database['grade']=='9th'].groupby('school_name')["math_score"].mean()

tenth_grade_math_scores=school_district_database.loc[school_district_database['grade']=='10th'].groupby('school_name')["math_score"].mean()
eleventh_grade_math_scores=school_district_database.loc[school_district_database['grade']=='11th'].groupby('school_name')["math_score"].mean()
twelfth_grade_math_scores=school_district_database.loc[school_district_database['grade']=='12th'].groupby('school_name')["math_score"].mean()

math_summary=pd.DataFrame({
    "9th":round(ninth_grade_math_scores,2),
    "10th":round(tenth_grade_math_scores,2),
    "11th":round(eleventh_grade_math_scores,2),
    "12th":round(twelfth_grade_math_scores,2)
})

math_summary=math_summary.rename(columns={"school_name":""})
math_summary.head()

                        9th   10th   11th   12th
school_name
Bailey High School    77.08  77.00  77.52  76.49
Cabrera High School   83.09  83.15  82.77  83.28
Figueroa High School  76.40  76.54  76.88  77.15
Ford High School      77.36  77.67  76.92  76.18
Griffin High School   82.04  84.23  83.84  83.36

In [7]:
ninth_grade_reading_scores=school_district_database.loc[school_district_database['grade']=='9th'].groupby('school_name')["reading_score"].mean()

tenth_grade_reading_scores=school_district_database.loc[school_district_database['grade']=='10th'].groupby('school_name')["reading_score"].mean()
eleventh_grade_reading_scores=school_district_database.loc[school_district_database['grade']=='11th'].groupby('school_name')["reading_score"].mean()
twelfth_grade_reading_scores=school_district_database.loc[school_district_database['grade']=='12th'].groupby('school_name')["reading_score"].mean()

reading_summary=pd.DataFrame({
    "9th":round(ninth_grade_reading_scores,2),
    "10th":round(tenth_grade_reading_scores,2),
    "11th":round(eleventh_grade_reading_scores,2),
    "12th":round(twelfth_grade_reading_scores,2)
})

reading_summary=reading_summary.rename(columns={"school_name":""})
reading_summary.head()

                        9th   10th   11th   12th
school_name
Bailey High School    81.30  80.91  80.95  80.91
Cabrera High School   83.68  84.25  83.79  84.29
Figueroa High School  81.20  81.41  80.64  81.38
Ford High School      80.63  81.26  80.40  80.66
Griffin High School   83.37  83.71  84.29  84.01

In [8]:
spending_bins = [0, 585, 630, 645, 680]
spending_labels = ["<$585", "$585-630", "$630-645", "$645-680"]

school_spend_summary=per_school_summary.copy()

school_spend_summary['Per Student Budget']=school_spend_summary['Per Student Budget'].str.replace('$','',regex=False)
school_spend_summary['Per Student Budget']=school_spend_summary['Per Student Budget'].astype(float)

school_spend_summary["Spending Ranges (Per Student)"]=pd.cut(school_spend_summary['Per Student Budget'],spending_bins,labels=spending_labels)

spending_math_scores = school_spend_summary.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spend_summary.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spend_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spend_summary.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spend_summary.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

spend_summary=pd.DataFrame({
    "Average Math Score":spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending,
})

spend_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.935000,93.460000,96.610000,90.367500
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667

In [9]:
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_size_summary= per_school_summary.copy()
school_size_summary["School Size"]=pd.cut(school_size_summary['Total Students'],size_bins,labels=size_labels)

size_math_scores = school_size_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = school_size_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = school_size_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = school_size_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = school_size_summary.groupby(["School Size"])["% Overall Passing"].mean()

size_summary=pd.DataFrame({
    "Average Math Score":size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing,
})

size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.820,83.92500,93.55000,96.10000,89.885
Medium (1000-2000),83.374,83.86800,93.59800,96.79000,90.620
Large (2000-5000),77.745,81.34375,69.96375,82.76625,58.285

In [10]:

school_type_summary= per_school_summary.copy()

type_math_scores = school_type_summary.groupby(["School Type"])["Average Math Score"].mean()
type_reading_scores = school_type_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_math = school_type_summary.groupby(["School Type"])["% Passing Math"].mean()
type_passing_reading = school_type_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = school_type_summary.groupby(["School Type"])["% Overall Passing"].mean()

type_summary=pd.DataFrame({
    "Average Math Score":type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing,
})

type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.472500,83.897500,93.620000,96.586250,90.431250
District,76.955714,80.965714,66.548571,80.798571,53.671429